/*  @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

:root
{
    --primary-color:#D97706;
    --true-gray: #262626;
    --off-white: #E5E7EB;
}

body
{
   /* font-family: 'Satisfy', cursive;*/
   font-family: 'Niconne', cursive;
   margin:0px;
}

/* container */

/*styled center container here*/
.container
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center
{
   max-width: 600px;
   margin: auto;
}

/* Links styling here*/


.link-primary
{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: whitesmoke;
    text-decoration:none;
    padding: 0.5rem 1rem;
}

.link-secondary
{
    color:var(--primary-color);
    text-decoration: none;
    border-radius:0.5rem;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
}


/*Check out BEM convention of CSS*/

hr
{
    margin: 2.5rem 0rem;
}

/*Lists styling*/

/*Non-bullet unordered list*/
.list-non-bullet
{
    list-style:none;
}

/*inline list items*/
.list-items-inline
{
    display: inline;
    padding: 0rem 0.5rem;
}

/* Navigation */
.navigation
{
    background-color: var(--primary-color);
    color: whitesmoke;
    padding:0.8rem 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.navigation .link
{
    color:whitesmoke;
    text-decoration: none;
}

.navigation .nav-pills
{
    text-align:right;
}

.navigation .nav-brand
{
    font-weight: bold;
    font-size:1.3rem;
}

.navigation .link-active
{
    font-weight: bold;
}

/* Styling header of library */
.headerOfLibrary
{
    padding: 2rem;
    
}

.headerOfLibrary .header-image
{
    max-width: 350px;
    display: block;
    margin:auto;
}

.headerOfLibrary .header-text
{
    line-height: 200px;
    height: 200px;
    text-align: center;

}

.headerOfLibrary .header-text .highlighted-portion
{
    color:var(--primary-color);
}

/*styling various sections in library*/

.section
{
    margin-top: 2rem;
}

.section h3
{
    text-align:center;
    padding: 2rem;
}

.off-white
{
    background-color: var(--off-white);
    padding: 1.5rem;
}

/*styling footer in library*/

.library-footer
{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align:center;
    color: white;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.library-footer .list-item-footer
{
    color:white;
}

.library-footer ul
{
    padding-inline-start:0rem;
}