/*  @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
body
{
   /* font-family: 'Satisfy', cursive;*/
   font-family: 'Niconne', cursive;
}

/* container */

/*styled center container here*/
.container
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center
{
   max-width: 600px;
   margin: auto;
}

