/*  @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

:root
{
    --primary-color:#D97706;
}

body
{
   /* font-family: 'Satisfy', cursive;*/
   font-family: 'Niconne', cursive;
}

/* container */

/*styled center container here*/
.container
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center
{
   max-width: 600px;
   margin: auto;
}

/* Links styling here*/


.link-primary
{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: whitesmoke;
    text-decoration:none;
    padding: 0.5rem 1rem;
}

.link-secondary
{
    color:var(--primary-color);
    text-decoration: none;
    border-radius:0.5rem;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
}


/*Check out BEM convention of CSS*/

hr
{
    margin: 2.5rem 0rem;
}

/*Lists styling*/

/*Non-bullet unordered list*/
.list-non-bullet
{
    list-style:none;
}

/*inline list items*/
.list-items-inline
{
    display: inline;
    padding: 0rem 0.5rem;
}